.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(75, 209, 164);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.App-link {
  color: #61dafb;
}

.message {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2.5px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message .delete {
  position: fixed;
  right: 0;
  left: 25%;
}

.timestamp {
  font-size: 0.7rem;
  margin-right: 20px;
  margin-left: 20px;
  color: gray;
}

.username {
  margin-right: 5px;
  font-weight: 500;
}

.messagescontainer {
  width: 30%;
  margin-top: 15px;
}

.App-body {
  display: flex;
  justify-content: center;
}

.messageform p {
  color: RGB(245, 0, 87);
  font-size: 0.8rem;
}

#typing {
  font-size: 0.8rem;
  color: gray;
  font-style: italic;
}

@media (max-width: 600px) {
  .messagescontainer {
    width: 90%;
  }
  .message .delete {
    position: fixed;
    right: 0;
    left: 75%;
  }
}