.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(75, 209, 164);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.auth {
  font-size: 15px;
}

.authbuttons {
  margin: 5px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

.message {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2.5px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message .delete {
  position: fixed;
  right: 0;
  left: 25%;
}

#usermessage {
  overflow: hidden;
}

.timestamp {
  font-size: 0.7rem;
  margin-right: 20px;
  margin-left: 20px;
  color: gray;
  min-width: 50px;
}

.userfield {
  display: flex;
  justify-content: center;
}

.userform {
  margin-top: 10px;
  margin-bottom: 20px;
}

.userfield p {
  color: RGB(245, 0, 87);
  font-size: 0.8rem;
}

.username {
  margin-right: 5px;
  font-weight: 500;
}

.messagescontainer {
  width: 40%;
}

.App-body {
  display: flex;
  justify-content: center;
}

.messageform p {
  color: RGB(245, 0, 87);
  font-size: 0.8rem;
}

.field {
  width: 95%;
}

.fieldcontainer {
  display: flex;
  justify-content: center;
}

.welcomemessage {
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
}

.register, .login {
  margin: 20px;
}

.authbuttons {
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

#registererror, #loginerror {
  color: red;
  font-style: italic;
}

@media (max-width: 600px) {
  .messagescontainer {
    width: 100%;
  }
  #usermessage {
    font-size: 0.9rem;
  }
  #writer {
    font-size: 0.9rem;
  }
  .timestamp {
    margin-right: 10px;
    margin-left: 10px;
  }
  .signout {
    font-size: 0.6rem;
    font-weight: 600;
    height: 25px;
    margin-top: 10px;
  }
  .App-header {
    height: 55px;
  }
}