.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(75, 209, 164);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.App-link {
  color: #61dafb;
}

.message {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2.5px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message .delete {
  position: fixed;
  right: 0;
  left: 25%;
}

#usermessage {
  overflow: hidden;
}

.timestamp {
  font-size: 0.7rem;
  margin-right: 20px;
  margin-left: 20px;
  color: gray;
}

.userfield {
  display: flex;
  justify-content: center;
}

.userform {
  margin-top: 10px;
  margin-bottom: 20px;
}

#welcome {
  margin-bottom: 30px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.822);
}

.userfield p {
  color: RGB(245, 0, 87);
  font-size: 0.8rem;
}

.username {
  margin-right: 5px;
  font-weight: 500;
}

.messagescontainer {
  width: 40%;
}

.App-body {
  display: flex;
  justify-content: center;
}

.messageform p {
  color: RGB(245, 0, 87);
  font-size: 0.8rem;
}

.field {
  width: 95%;
}

.fieldcontainer {
  display: flex;
  justify-content: center;
}

#temp {
  font-size: 0.8rem;
  margin: 0px;
}

.signout {
  font-size: 0.65rem;
  font-weight: 600;
  height: 25px;
  margin-top: 10px;
  color: white;
  background-color: rgb(75, 209, 164);
  border: none;
  border-radius: 10px;
}

.signout:hover {
  background-color: rgb(112, 226, 188);
}

@media (max-width: 600px) {
  .messagescontainer {
    width: 100%;
  }
  #usermessage {
    font-size: 0.9rem;
  }
  #writer {
    font-size: 0.9rem;
  }
  .timestamp {
    margin-right: 10px;
    margin-left: 10px;
  }
  #welcome {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  .signout {
    font-size: 0.6rem;
    font-weight: 600;
    height: 25px;
    margin-top: 10px;
  }
}